// Fonts
$fontFamily:"Oswald";
$SecondFontFamily: "Open Sans";

// Container
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1110;
$md1: $maxWidthContainer + 12;
$md2: 992;
$md3: 768;
$md4: 480;

//Colors
$primary: #fff;
$secondary: #fff;
$accent: #fff;
$black: #000;
$white: #fff;
