.menu {
    display: block;
    &__list {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
        margin: 0;
        @media (max-width: $md2+px){
            justify-content:flex-end;
        }
        @media (max-width: $md3+px) {
            flex-direction: row;
            align-content:center;
            justify-content:flex-end;
            flex-wrap:wrap;
            width: 60%;
            position:absolute;
            right:0;

        }
        @media (max-width: $md4+px){
            display:none;
            &.active{
            display:block;
            flex-direction: column;
            width:initial;
            flex-wrap:nowrap;
            align-items:center;
            height: initial;
            overflow: scroll;
            right: 50px;
            margin: 20px;
            background-color:rgba(0, 91, 193, 1);}
            &:hover{
                background-color:rgba(255, 255, 255, 0.6);
                .menu__link{
                color:rgba(0, 91, 193, 1);
            }
            }
        }


    }

    &__link {
        font-size: 14px;
        font-family: $SecondFontFamily;
        font-weight: 600;
        margin: 0;
        padding:20px;
        color: rgba(255, 255, 255, 1);
        transition: all 0.3s ease-in;
        @media (max-width: $md3+px) {
            padding: 5px 0 5px 0;
            margin: 0 20px 0 0;
        }
        @media (max-width: $md4+px) {
            font-size: 20px;
            z-index: 2;
            padding: 0;
            margin: 20px;
        }
        &:hover{
            transform: scaleX(1.2) scaleY(1.2);

        }
    }
    &__burger-icon{
        display:none;
        @media (max-width: $md4+px){
        display: block;
        width:30px;
        height:20px;
        color:#fff;
        position:absolute;
        right: 20px;
        top:20px;
        span{
            display: block;
            width: 100%;
            height: 2px;
            background-color: #fff;
            position: absolute;
            top:40%;
        }
        &:before, &:after{
            position:absolute;
            content: '';
            width: 100%;
            height: 2px;
            background-color: #fff;
            left:0;
        }
        &:before{
            top:0;

        }
        &:after{
            bottom:2px;
        }
    }}

}

.footer__menu{
        .menu__list{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 35px 35px;
        }
        .menu__link{
            margin:0;
            @include adaptive-value('font-size', 14, 10, 0);
        }
@media (max-width: $md4+px){

        .menu__list{
            display: block;
            flex-direction: row;
            width:initial;
            flex-wrap:nowrap;
            align-items:center;
            height: initial;
            overflow: scroll;
            right: 0;
            top:0;
            margin: 20px;
            text-align: center;}
        .menu__link{
            font-size: 10px;
            width: 100%;
            margin: 10px 0;
            padding:0;
            
        }
        .menu__body{
            min-width: 0;
            margin: 0;
            width: 100%;

        }
}

@media (max-width: $md3+px) {
    .menu__list{
    position: relative;
    align-content:center;
    justify-content:flex-end;
    width: 60%;
    right:0;}

    .menu__body{
        min-width: 0;
        margin: 0;
        width: 100%;

    }
}

}