@import url("https://fonts.googleapis.com/css?family=Oswald:regular&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,regular,600&display=swap&subset=cyrillic-ext");
@import url('/src/scss/normalize.css');

@import 'mixins/adaptive-value';
@import 'support/variables';

// ---------------main-components-styles-----------------------//
body{
box-sizing: border-box;
font-size: 20px;
a{
    text-decoration: none;
    color: #fff;
}
//     @media (max-width: $md1+px) {
//         font-size: 18px;
//     }
//     @media (max-width: $md2+px) {
//         font-size: 16px;
//     }
//     @media (max-width: $md3+px) {
//         font-size: 14px;
//     }
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.section{
margin: 150px 0 0 0;
}
.title {
    font-family: $fontFamily;
    font-weight: normal;
    text-transform: uppercase;
}
h2.title{
    @include adaptive-value('font-size', 26, 18, 0);
    display: block;
    line-height: 1.8;
    margin: 30px;
    @media (max-width:$md3+px){
        margin: 20px;
    }
    @media (max-width:$md4+px){
        margin: 20px 0;
        text-align: center;
    }
}
.text {
    font-family: $SecondFontFamily;
    font-weight: 300;
    line-height: 1.4;
}
.btn {
    font-family: $SecondFontFamily;
    font-weight: 600;
    line-height: 22 / 16 * 100%;
    text-transform: uppercase;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

// ---------------container styles-----------------------//
@import 'elements/container';

// ---------------header styles-----------------------//
@import 'elements/header';

// ---------------menu styles-----------------------//
@import 'elements/menu';

// ---------------main page styles-----------------------//
@import 'elements/heading';

// ---------------sections styles-----------------------//

@import 'elements/sections';

// ---------------footer styles-----------------------//
@import 'elements/footer';